h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div.logo {
    padding-top: 30px;
    margin: auto;
    text-align: center;
}

/** Tabs start **/
div.main {
    margin: auto;
    text-align: center;
}

div.tab {
    overflow: hidden;
    margin: auto;
    margin-top: 60px;
    max-width: 360px;
}

div.tab button {
    float: left;
    background-color: inherit;
    color: black;
    padding: 18px 30px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button:active {
    background-color: #ccc;
}

.tabcontent {
    text-align: center;
    width: 80%;
    border-top: none;
    height: 300px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/** Tabs end **/

.aButton {
    margin: auto;
    font-size: 30px;
    height: 2em;
    width: 4em;
    margin-top: 20px;
    border: 3px solid gray;
    background-color: palegreen;
}

.textInput {
    width: 9em; 
    height: 1em; 
    font-size: 50px; 
    border: 3px solid gray;
    margin-top: calc(5%);
}

#divSpeed{
    overflow: hidden;
    height: calc(25%); 
    width: calc(80%);
    align-self: center;
    margin: 0 auto;
    float:center; 
    background: darkgray;
}

#divComment{
    overflow: hidden;
    background: lightgray;
    height: calc(40%); 
    width: calc(80%);
    align-self: center;
    margin: 0 auto;
    float:center; 
}   

#divTextFieldAndButton{
    overflow: hidden;
    background: darkslategray;
    height: calc(60%); 
    width: calc(60%);
    align-self: center;
    margin: 0 auto;
    float:center; 
}   

img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

#divDifficulty{
    height: calc(25%); 
    width: calc(80%);
    align-self: center;
    margin: 0 auto;
    float:center;
    background:gray;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #939393; 
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}